<div id="navbar-container">
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#footer" aria-expanded="false"
          aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
        <a class="navbar-brand" [routerLink]="['/']">Awesome GIS</a>
      </div>
      <div id="footer" class="navbar-collapse collapse">
          <ul class="nav navbar-nav ">
      <li [routerLinkActive]="['active']"><a [routerLink]="['/contact']">Contact Me</a></li>
      <li >
        <a href="mailto:mohammedessehemy@gmail.com"> <span class="glyphicon glyphicon-envelope"></span> Gmail </a> 
      </li>
      <li >
        <a href="http://linkedin.com/in/mohammed-essehemy-5609a4a3/"> <i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin </a> 
      </li>
      <li >
        <a href="http://github.com/MohammedEssehemy/"> <i class="fa fa-github" aria-hidden="true"></i> Github </a>
      </li>
    </ul>
        <ul class="nav navbar-nav navbar-right" >
      <li >
      <a> <span class="glyphicon glyphicon-map-marker"></span> Cairo, Egypt. &copy; 2017 </a>
      </li>
    </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>
</div>
