<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-header">
      <a [routerLink]="['/']" class="navbar-brand">Awesome GIS</a>
    </div>
    <ul class="nav navbar-nav ">
      <li [routerLinkActive]="['active']"><a [routerLink]="['/contact']">Contact Me</a></li>

      <li style="color:#fff;">
        <a href="mailto:mohammedessehemy@gmail.com"> <span class="glyphicon glyphicon-envelope"></span> Gmail </a> <br />
      </li>
      <li style="color:#fff;">
        <a href="http://linkedin.com/in/mohammed-essehemy-5609a4a3/"> <i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin </a> <br />
      </li>
      <li style="color:#fff;">
        <a href="http://github.com/MohammedEssehemy/"> <i class="fa fa-github" aria-hidden="true"></i> Github </a><br />
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li style="color:#fff;">
        <a>
          <span class="glyphicon glyphicon-map-marker"></span> Cairo, Egypt. &copy; 2017
        </a>
      </li>
    </ul>
  </div>
</div>
