<div  id="popup-container">
  <!--<div class="form-group">-->
  <span *ngIf="!editMode" class="label label-primary">{{bookmark.title}}</span>
  <button *ngIf="!editMode" class="btn btn-xs btn-primary"><i (click)="editMode= true" class="glyphicon glyphicon-edit" aria-hidden="true"></i></button>
  <input *ngIf="editMode" type="text" class="form-inline" [(ngModel)]="bookmark.title">
  <button *ngIf="editMode" class="btn btn-xs btn-primary"><i (click)="editMode= false;submitClicked()" class="glyphicon glyphicon-ok-sign" aria-hidden="true"></i></button>  
  <!--</div>-->
</div>
