<div id="navbar-container" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a [routerLink]="['/']" class="navbar-brand">Awesome GIS</a>
    </div>
    <ul class="nav navbar-nav ">
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact : true}">
        <a [routerLink]="['/']">Home</a>
      </li>
      <li *ngIf="usersService.loggedIn();" [routerLinkActive]="['active']">
        <a [routerLink]="['/messages']">Messages</a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
       <li [routerLinkActive]="['active']" *ngIf="!usersService.loggedIn();">
        <a [routerLink]="['/register']"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
      </li>
      <li *ngIf="!usersService.loggedIn();" [routerLinkActive]="['active']"><a [routerLink]="['/login']"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li *ngIf="usersService.loggedIn();"><a href="#" > <span class="glyphicon glyphicon-user"></span>{{usersService.getUser().username}}</a></li>      
      <li *ngIf="usersService.loggedIn();"><a href="#" (click)="logoutFun();"> <span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
    </ul>
  </div>
</div>
